extends layout 

block content 
  main.main 
    h1 Home
    p Some text 
    p Second paragraph
    //- Combining pug template with regular html
    <div>
      <p>Some text in main</p>
      <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
      </ul>
    </div>

    .example-container 
      span.box-decoration-box this text will break in multiple lines through css