$color: lightgray;

body {
  background-color: $color;
}

.example-container {
  width: 224px;
  font-size: 32px;
}

//Testing styles for autoprefixer. Workflow should generate: -webkit-box-decoration-break: slice;
.box-decoration-box {
  box-decoration-break: slice;
  box-shadow: 8px 8px 10px 0 #ff1493, -5px -5px 5px 0 #00f, 5px 5px 15px 0 #ff0;
}

//Locally hosted google fonts
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/roboto-v30-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v30-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

//Unused css to test purgecss
.gold-box {
  background-color: gold;
  width: 500px;
  height: 500px;
}

.bg-image-box {
  border: 1px solid lightgray;
  height: 400px;
  width: 400px;
  padding: 1rem;
  background: url("../assets/images/chichen.jpg");
}

//Style to be removed by purgecss. Note from previous repository. It's not removed. Maybe I removed the element manually and that's how I was doing tests. The implementation of this commit seems to be working fine. Leaving it just in case.
.tomato-box {
  width: 200px;
  height: 200px;
  background-color: tomato;
}
