$color: lightgray;

body {
  background-color: $color;
}

.example-container {
  width: 224px;
  font-size: 32px;
}

//Testing styles for autoprefixer. Workflow should generate: -webkit-box-decoration-break: slice;
.box-decoration-box {
  box-decoration-break: slice;
  box-shadow: 8px 8px 10px 0 #ff1493, -5px -5px 5px 0 #00f, 5px 5px 15px 0 #ff0;
}
